.nav-item {
    position: relative;
  }

  .dropdown-toggle {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: black;
  }

  .dropdown-menu {
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.359);
    border: none;
  }

  .dropdown-item {
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
  }

  .dropdown-item:hover {
    color: #007f0b;
    font-size: large;
  }
  .company {
    padding: 20px;
    margin-right: 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease;
}

/* Optional: Adjust the perspective for a more pronounced 3D effect */
#companyCarousel {
    perspective: 1000px;
}



.custom-banner {
    background-color: #007bff;
    color: #ffffff;
    border: 1px solid #0056b3;
    border-radius: 5px;
    padding: 0px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
  }

  .custom-banner:hover {
    background-color: #0056b3;
  }


  .col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.block {
	width: 306px;
	height: 230px;
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}